.movie {
  margin: 1rem;
  padding: 1rem;
  background-color: #230052;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 12px;
  text-align: center;
  color: white;
}

.movie h2 {
  font-size: 2rem;
  color: #f7e702;
}

.movie h3 {
  color: #eccf77;
  margin: 0;
  font-size: 1rem;
}

.movie button {
  font: inherit;
  cursor: pointer;
  background: #bf0c0c;
  border: 1px solid #bf0c0c;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}


.movie button:focus {
  outline: none;
}


.movie button:hover,

.movie button:active {
  background-color: #ba2d2d;
  border-color: #ba2d2d;
}