section {
  margin: 1rem auto;
  width: 90%;
  max-width: 40rem;
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
}

button {
  font: inherit;
  cursor: pointer;
  background: #230052;
  border: 1px solid #230052;
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 20px;
}

button:focus {
  outline: none;
}

button:hover,
button:active {
  background-color: #460897;
  border-color: #460897;
}
form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;  
}

.input {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: start;
}
.input > label{
  font-weight: 550;
  text-transform: capitalize;
  margin: 3px;
}
.input> input {
  border-radius: 20px;
  width: 100%;
  font-size: large;
  padding: 4px 8px;
}

.input > textarea{
  border-radius: 20px;
  font-size:large;
  font-weight: 500;
  border:2px solid rgb(70, 69, 69);
  width: 100%;
  padding: 4px 8px;
}